
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:ital@1&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none; 
}

body { 
   background-color: #fdf9ee ;
   font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    background-color: #1a3c2e;
    width: 100%;
}
/* headings and logo */

h1  {
    font-family: 'Caveat', cursive;
    color: #1B3D2F;
    letter-spacing: 4px;
    font-size: 400%;
    text-decoration: none;
}

#logo {
    float: left;
    color: #fdf9ee;
    margin-left: 15px;
    font-weight: lighter;
}

h2, h3 {
    font-family: 'Caveat', cursive;
    color: #1B3D2F;
    text-align: center;
}

#title-text > h3 {
    font-size: 60%;
}

#title-text > h2 {
    font-size: larger;
    padding: 0px;
}

h2 {
    text-align: center;
    padding: 40px;
    font-size: 300%;
}

h3 {
    font-size: 200%;
    padding: 30px;
}



/* navigation */

#menu {
    float: right;
    letter-spacing: 5px;
    font-size: 150%;
    text-decoration: none;
}

#menu > li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

.navlink {
    color: #fdf9ee;
    font-family: 'Caveat', cursive;
}

.navlink:hover {
    border-bottom: 2px solid #fdf9ee;
}

#active {
    border-bottom: 2px solid #fdf9ee;
}

#menu, #logo {
    line-height: 100px;
}

#getintouch-link a {
    text-decoration: inherit;
    color: inherit;
    font-style: italic;
}

#getintouch-link:hover {
    border-bottom: 1px solid #1B3D2F;
}

/* main image and text */

#title-outer {
    height: 450px;
    width: 100%;
    position: relative;
}

#title-text {
    font-size: 600%;
    padding-top: 0px;
    margin: 0;
    text-align: center;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 100px;
    overflow: auto;
}

#title-text > h3 {
    font-size: 60%;
}

/* gallery */

#gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 0px;
    height: 600px;
}

#gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* other gallery option --- 

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}

*/


/* about us */

#about-us {
    height: 450px;
    margin: 20px auto;
    width: 100%;
}

#about-us-text {
    float: left;
    padding-top: 20px;
    width: 50%;
    font-size: large;
    max-width: 45%;
}

#about-us-image {
    float: right;
    width: 50%;
    max-height: 350px;
    margin: 20px 20px 0px 0px;
    overflow: hidden;
    border-radius: 4%;
}

#about-us-image > img {
    height: auto;
    width: 100%;
}

#about-us-text > p {
    padding-left: 20px;
    max-width: 95%;
}

#about-us > h2 {
    padding-bottom: 15px;
}

/* testimonials */

#testimonials {
    height: 600px;
    padding: 40px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* project styling */

#projects div {
    width: 80%;
    height: auto;
    margin: auto;
    contain: content;
}

#projects h3 {
    padding: 60px;
}

#projects p {
    font-size: larger;
    position: absolute;
    bottom: 30%;
}

#projects img {
    max-width: 50%;
    border-radius: 4%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#cots-p, #walker-p{
    padding-left: 55%;
    padding-right: 5%;
}

#cots-img {
    height: auto;
}

#height-p {
    padding-left: 5%;
    padding-right: 55%;
}

#height-img {
    width: 300px;
    height: 600px;
    object-fit: contain;
}

/* inspiration */

#inspiration div {
    border: 2px solid black;
    width: 80%;
    height: auto;
    margin: auto;
    contain: content;
    text-align: center;
}

#inspiration img {
    width: 400px;
    height: auto;
    border-radius: 4%;
}

#inspiration p, #inspiration li {
    font-size: larger;
    line-height: 25px;
    padding-right: 20px;
}

#elmtext {
    padding-left: 51%;
}

#elmlist {
    padding-left: 55%;
    padding-top: 5px;
}

/* contact us styling */

#contact-us {
    text-align: center;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    position: relative;
}

#contact-text-outer {
    width: 50%;
    height: 450px;
    float: left;
    position: absolute;
    display: inline-float;
    box-sizing: border-box;
}
    
#contact-text-outer li {
    padding: 35px;
    font-size: larger;
}

#contact-map-inner {
    padding-right: 3%;
    width: 50%;
    float: right;
}

#email-icon {
    color: #1B3D2F;
    padding: 20px;
    font-size: larger;
}

#email-icon:hover {
    transform: scale(1.3);
}

/* form */

#form {
    height: 450px;
    width: 100%;
    box-sizing: border-box;
    color: #fdf9ee;
    margin: 0 auto;
    background-color: rgba(27, 61, 47);
    position: relative;
}

#message {
    max-width: 50%;
    max-height: 200px;
    background-color: #fdf9ee;
    display: inline-block;
    position: absolute;
    right: 8%;
}

::placeholder, #message{
    color: #1B3D2F;
    font-size: large;
    font-family: 'lato', sans-serif;
}

#form-input {
    max-width: 50%;
    height: auto;
    text-align: left;
    margin-left: 15%;
    padding: 10px;
    font-size: larger;
    display: inline-block;
}

#form-input > div {
    padding: 15px;
}

.input {
    height: 30px;
    width: 250px;
    background-color: #fdf9ee;
}

.callback-input {
    background-color: #fdf9ee;
    height: 20px;
    width: 20px;
    margin-left: 30px;
}

#design-query-form > h2 {
    color: #fdf9ee;
}

#submit {
    background-color: #fdf9ee;
    width: 125px;
    color: #1B3D2F;
    display: inline-block;
    font-size: larger;
    padding: 15px 32px 15px 32px;
    position: absolute;
    left: 45%;
    bottom: 15px;
}

#submit:hover {
    border: 3px solid #fdf9ee;
    background-color: #1B3D2F;
    color: #fdf9ee;
}



/* footer */

footer {
    height: 180px;
    text-align: center;
    position: static;
    bottom: 1px;
}

.social-networks {
    text-align: center;
    padding-top: 20px;
    height: 100px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 140%;
    padding: 2%;
    margin: 1%;
    color: #1B3D2F;
}

footer > h3 {
    text-align: right;
    display: inline;
    padding: 5px;
    margin-top: none;
    font-size: 140%;
}

@media screen and (max-width: 1200px){
    iframe {
        width: 100%;
    }
    
    #form-input {
        margin-left: 2%;
        text-align: center;
    }

    #contact-map-outer, #contact-map-inner {
        padding: 10px;
    }

    #message {
        width: 30%;
    }
}

/* safari specific styling */

@media not all and (min-resolution:.001dpcm) { @media {

    .safari_only, #project-two-container, #projects div { 
            min-height: 650px;
            overflow: hidden;
    }

    .safari_only, #height-p {
        padding-left: 15%;
        padding-right: 45%;
    }

    .safari_only, #projects p {
        position: unset;
    }

    .safari_only, #inspiration div {
        min-height: 600px;
        overflow: hidden;
    }
}}

/* For large to medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #menu {
        float: left;
        clear: both;
        text-decoration: none;
        letter-spacing: initial;
        line-height: initial;
    }
    #logo {
        font-size: 250%;
        line-height: initial;
        margin: auto;
    }

    #about-us-image {
        float: left;
        clear: both;
        height: auto;
        width: 100%;
        padding: 0px;
    }

    #about-us-text {
        padding-top: 20px;
        max-width: 100%;
        width: auto;
        font-size: initial;
    }

    #about-us-text > p {
        padding: 20px;
        max-width: 95%;
    }
    
    #testimonials {
        margin-top: 2px;
    }

    #title-text {
        font-size: 350%;
        top: 40px;
    }
    
    #title-text >h3 {
        padding: 0;
    }

    #title-outer {
        height: 250px;
    }

    #menu > li {
        margin: 5px;
    }

    #gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 300px);
        overflow: hidden;
    }

    #gallery > img {
        object-fit: cover;
    }

    #projects img {
    
        width: 100%; 
        float: none;
        max-width: 100%;
    }

    #projects p {
        width: 70%;
        bottom: 0px;
        padding: 20px 10px;
        margin: auto;
        position: unset;
    }

    #height-img {
        width:80%;
        height: auto;
        height: 540px;
        object-fit: contain;
    }
    #projects h3 {
        padding: 20px;
    }

    #elmimage {
        float: none;
        max-width: 100%;
        width: 400px;
        height: 652x;
        object-fit: contain;
        margin: auto;
        

    }

    #elmtext {
        width: 100%;
        padding: 10px;
    }

    #elmlist {
        padding-left: 30px;
        padding-bottom: 20px;
    }

    #inspiration p {
        max-width: 90%;
        text-align: center;
    }
}


/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 300px);
        overflow: auto;
    }

    #contact-text-outer li {
        padding: 0;
    }

    #contact-text-outer {
        height: 150px;
        width: 100%;
        display: block;
        position: initial;
        float: initial;
        
    }

    #contact-map-inner {
        width: 100%;
        height: auto;
        display: block;
        padding: unset;
    }

    iframe {
        height: 300px;
    }

    #form-input {
        text-align: left;
        padding: 2px;
        display: initial;
    }

    #form {
        object-fit: contain;
        height: 700px;
    }

    #message {
        height: 150px;
        width: 90%;
        display: block;
        overflow: auto;
        position: unset;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }

    #design-query-form > h2 {
        padding-bottom: 0;
    }

    #submit {
        display: block;
        position: unset;
        margin: auto;
        margin-top: 25px;
    }
}

