
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:ital@1&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none; 
}

body { 
   background-color: #fdf9ee ;
   font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    background-color: #1a3c2e;
}
/* headings and logo */

h1  {
    font-family: 'Caveat', cursive;
    color: #1B3D2F;
    letter-spacing: 4px;
    font-size: 400%;
    text-decoration: none;
}

#logo {
    float: left;
    color: #fdf9ee;
    margin-left: 15px;
    font-weight: lighter;
}

h2, h3 {
    font-family: 'Caveat', cursive;
    color: #1B3D2F;
}

#title-text > h3 {
    font-size: 60%;
}

/* navigation */

#menu {
    float: right;
    letter-spacing: 5px;
    font-size: 150%;
}

#menu > li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

.navlink {
    color: #fdf9ee;
    font-family: 'Caveat', cursive;
}

#menu, #logo {
    line-height: 100px;
}


/* main image and text */

#title-outer {
    height: 450px;
    width: 100%;
    position: relative;
}

#title-image {
    width: 100%;
    height: 450px;
}

#title-text {
    font-size: 600%;
    padding-top: 0px;
    margin: 0;
    text-align: center;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 100px;
}

#title-text > h3 {
    font-size: 60%;
}

/* gallery */

#gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 0px;
    height: 600px;
}

#gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* other gallery option --- 

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}

*/


/* about us */

#about-us {
    height: 450px;
    margin: 20px auto;
    width: 100%;
}

#about-us > h2 {
    text-align: center;
    padding: 40px;
    font-size: 300%;
}

#about-us-text {
    float: left;
    padding-top: 20px;
    width: 50%;
    font-size: large;
}

#about-us-image {
    float: right;
    width: 50%;
    padding-top: 20px;
    margin: 0 auto;
}

#about-us-image > img {
    height: auto;
    width: 100%;
}

#about-us-text > p {
    padding: 10px;
}

/* testimonials */

#testimonials {
    height: 600px;
    padding: 40px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#testimonials > h2 {
    text-align: center;
    padding: 40px;
    font-size: 300%;
}



/* footer */

footer {
    height: 100px;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 140%;
    padding: 2%;
    margin: 1%;
    color: #1B3D2F;
}

footer > h3 {
    text-align: right;
    display: inline;
    padding: 2%;
    margin-top: none;
    font-size: 140%;
}

