
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:ital@1&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none; 
   scroll-behavior: smooth;
}

body { 
   background-color: #fdf9ee ;
   font-family: Lato, sans-serif;
   scroll-behavior: smooth;
}

body > section {
    max-width: 2000px;
    margin: auto;
}

a {
    text-decoration: none;
}

header {
    height: 90px;
    background-color: #1a3c2e;
    width: 100%;
}
/* headings and logo */

h1  {
    font-family: 'Caveat', cursive;
    color: #1B3D2F;
    letter-spacing: 4px;
    font-size: 400%;
    text-decoration: none;
}

#logo {
    float: left;
    color: rgb(253, 249, 238);
    margin-left: 15px;
    font-weight: lighter;
}

#design-icon {
    font-size: 70%;
}

h2, h3 {
    font-family: 'Caveat', cursive;
    color: #1b3d2f;
    text-align: center;
}

#title-text > h3 {
    font-size: 60%;
}

#title-text > h2 {
    font-size: larger;
    padding: 0px;
}

h2 {
    text-align: center;
    padding: 40px;
    font-size: 300%;
}

h3 {
    font-size: 200%;
    padding: 30px;
}



/* navigation */

#menu {
    float: right;
    letter-spacing: 5px;
    font-size: 150%;
    text-decoration: none;
}

#menu > li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

.navlink {
    color: #fdf9ee;
    font-family: 'Caveat', cursive;
}

.navlink:hover {
    border-bottom: 2px solid #fdf9ee;
}

#active {
    border-bottom: 2px solid #fdf9ee;
}

#menu, #logo {
    line-height: 100px;
}

#getintouch-link a {
    text-decoration: inherit;
    color: inherit;
    font-style: italic;
}

#getintouch-link:hover {
    border-bottom: 1px solid #1B3D2F;
}

/* main image and text */

#title-outer {
    height: 450px;
    width: 100%;
    position: relative;
}

#title-text {
    font-size: 600%;
    padding-top: 0px;
    margin: 0;
    text-align: center;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 100px;
    overflow: auto;
}

#title-text > h3 {
    font-size: 60%;
}

/* gallery */
/*  responsive styling drops the column and row numbers down to fit the smaller screens */
#gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 0px;
    height: 600px;
    max-width: 2000px;
    margin: auto;
}

#gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* about us */

#about-us-text {
    float: left;
    padding-top: 20px;
    width: 50%;
    font-size: large;
    max-width: 45%;
    padding-left: 20px;
}

#about-us-image {
    float: right;
    width: 50%;
    max-height: 350px;
    margin: 20px 20px 0px 0px;
    overflow: hidden;
    border-radius: 4%;
}

#about-us-image > img {
    height: auto;
    width: 100%;
}

#about-us-text > p {
    padding-left: 20px;
    max-width: 95%;
}

#about-us > h2 {
    padding-bottom: 15px;
}

/* testimonials */

#testimonials, #about-us {
    max-height: 1800px;
    padding: 40px;
    width: 100%;
    margin: 0 auto;
    display: flow-root;
    line-height: 23px;
    justify-items: center;
    box-sizing: border-box;
}

/* box shadow draws the users attention to the testimonials */
#testimonials div {
    float: left;
    box-shadow: 
    12px 12px 16px 0 rgba(27, 61, 47, 0.8),
    -8px -8px 12px 0 rgba(245, 245, 245, 0.6);
    border-radius: 20px;
    width: 25%;
    min-height: 300px;
    text-align: center;
    margin: 4%;
    font-size: larger;
    font-style: italic;
    box-sizing: border-box;
    line-height: 23px;
    object-fit: contain;
}

#testimonials h4 {
    padding: 20px 0px;
    text-align: center;
}

#testimonials h5 {
    padding: 20px 5px 10px 5px;
    font-size: medium;
}

/* project styling */

#projects h3 {
    padding: 30px;
    background-color: rgba(27, 61, 47, 0.7);
    color: #fdf9ee;
    text-transform: uppercase;
}

#project-one-container, #project-three-container {
    display: block;
    width: 100%;
    height: auto;   
    position: relative;
    box-sizing: border-box;
    margin-bottom: 83px;
}

#project-two-container {
    display: block;
    width: 100%;
    min-height: 500px;
    height: auto;   
    position: relative;
    box-sizing: border-box;
    margin-bottom: 83px;
}

#projects p {
    font-size: larger;
}

#projects i, #inspiration i {
    font-size: 70%;
    padding: 0px 15px 0px 15px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#cots-p, #walker-p {
    padding-left: 55%;
    padding-right: 5%;
    position: absolute;
    top: 17%;
    right: 30px;
}

#cots-list {
    padding-left: 60%;
    padding-right: 5%;
    margin-top: 5px;
}

#height-p {
    padding-left: 5%;
    padding-right: 45%;
    position:absolute;
    top: 17%;
}

/* height chart covers the top and bottom borders of the div. This affect emphasises the height aspect of the project and adds some character to it. (top: -50;) */
#height-img {
    position: absolute;
    right: 100px;
    top: -50px;
    width: auto;
    height: auto;
    max-height: 700px;
    border-radius: 40px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.9);
}

/* projects slideshow */

.slider {
	width: 50%; 
    max-width: 1000px;
    height: 1em;
	padding-top: 39%;
	position: relative;
    margin-top: 10px;
	margin-left: 3%;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.9);
    display: inline-block;
    border-radius: 40px;
}

#slider_two {
    max-width: 50%;
    min-width: 30%;
    width: auto;
    margin-left: 10%;
}

.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

/* hides the traditional radio buttons */
.slider input {
	display: none;
}

/* lets the images used for labels appear at the bottom left of the slider. */
.slider label {
	margin: 25px 0 0 18px;
	border: 3px solid #999;
	border-radius: 40%;
    height: 60px;
    width: 60px;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
    overflow: hidden
}

.slider label img{
	display: block;
}

/*Adds the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Hides images at 110% size*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*On click the images will be displayed at normal size*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/* styles below repeat the above for the second slider */
.slider input[name='slide_switch_two']:checked+label {
	border-color: #666;
	opacity: 1;
}

.slider input[name='slide_switch_two'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}

.slider input[name='slide_switch_two']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}

/* inspiration */

#inspiration div {
    width: 80%;
    height: auto;
    margin: 50px auto;
    contain: content;
    text-align: left;
    line-height: 23px;
    font-size: larger;
}

#oak-div {
    min-height: 450px;
}

#inspiration img {
    width: 300px;
    height: auto;
    border-radius: 4%;
}

#inspiration h3 {
    padding: 30px;
    background-color: rgba(27, 61, 47, 0.7);
    color: #fdf9ee;
    text-transform: uppercase;
}

#elmtext {
    padding-left: 55%;
    padding-right: 20px;
}

#elmlist {
    padding-left: 60%;
    padding-top: 10px;
    padding-right: 20px;
}

#oaktext {
    padding-left: 30px;
    padding-right: 60%;
    text-align: left;
    padding-bottom: 35px;
}

#oakimage {
    min-width: 55%;
}

#elm-two-text {
    padding: 0px 20px 0px 55%;
}

#elm-two-list {
    padding: 10px 20px 0px 60%;
}

/* contact us styling */

#contact-us {
    text-align: center;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    position: relative;
}

#contact-text {
    width: 50%;
    height: 450px;
    float: left;
    position: absolute;
    box-sizing: border-box;
}

#contact-text ul {
    padding-top: 7%;
    font-size: larger;
    margin: auto;
    vertical-align: middle;
}

#contact-us li {
    padding: 20px;
    list-style-type: none;
}

#contact-map {
    padding-right: 3%;
    width: 50%;
    float: right;
    height: 330px;
}

iframe {
    width: 100%;
    height: 100%;
}

#email-icon {
    color: #1B3D2F;
    margin-left: 20px;
    font-size: larger;
    box-shadow: 
    12px 12px 16px 0 rgba(27, 61, 47, 0.3),
    -8px -8px 12px 0 rgba(245, 245, 245, 0.5);
}

/* enhances the UX by providing feedback when the cursor is over the icon */
#email-icon:hover {
    transform: scale(1.5,1.5);
}

/* form */

#form {
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    color: #fdf9ee;
    margin: 0 auto;
    background-color: rgba(27, 61, 47, 0.7);
    position: relative;
}

#message {
    max-width: 50%;
    max-height: 200px;
    background-color: #fdf9ee;
    display: inline-block;
    position: absolute;
    right: 8%;
    border-radius: 10px;
}

/* changes the default placeholder text to match that of the site */
::placeholder, #message{
    color: #1B3D2F;
    font-size: large;
    font-family: 'lato', sans-serif;
}

#form-input {
    max-width: 50%;
    height: auto;
    text-align: left;
    margin-left: 15%;
    padding: 10px;
    font-size: larger;
    display: inline-block;
}

#form-input > div {
    padding: 15px;
}

.input {
    height: 30px;
    width: 250px;
    background-color: #fdf9ee;
    border-radius: 10px;
}

.callback-input {
    background-color: #fdf9ee;
    height: 20px;
    width: 20px;
    margin-left: 30px;
}

#design-query-form > h2 {
    color: #fdf9ee;
}

#submit {
    background-color: #fdf9ee;
    width: 125px;
    color: #1B3D2F;
    display: inline-block;
    font-size: larger;
    padding: 15px 32px 15px 32px;
    position: absolute;
    left: 45%;
    bottom: 15px;
    border-radius: 10px;
}
/* enhances the UX by providing feedback when the cursor is over the submit button */
#submit:hover {
    border: 3px solid #fdf9ee;
    background-color: #1B3D2F;
    color: #fdf9ee;
}

#form-destination-text {
    padding: 10% 20% 10% 20%;
    font-weight: lighter;
}

#form-destination-footer {
    position: fixed;
    bottom: 0%;
}

/* footer */

footer {
    height: 180px;
    width: 100%;
    text-align: center;
}

.social-networks {
    text-align: center;
    padding-top: 20px;
    height: 100px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 140%;
    padding: 30px;
    margin: 15px;
    color: rgb(26, 60, 46);
}
/* provides enhanced UX with feedback over the icons */
.socials:hover {
    transform: scale(1.3,1.3);
}

footer > h3 {
    text-align: right;
    display: inline;
    padding: 5px;
    margin-top: 0px;
    font-size: 140%;
}

#up-arrow {
    color: rgba(27, 61, 47, 0.7);
    position: absolute;
    display: inline-block;
    height: auto;
    width: 50px;
    left: 2%;
    bottom: 8%;
    font-size: 250%;
    position: fixed;
    border-radius: 50%;
    border: 2px solid rgba(253, 249, 238, 0.6);
}

#up-arrow:hover {
    color: #1b3d2f;
}

/* safari specific styling */

@media not all and (min-resolution:.001dpcm) { @media {
    .safari_only, #height-p {
        padding-left: 15%;
        padding-right: 45%;
    }

    #elm-two-div {
        min-height: 880px;
    }

    .safari_only, .slider, #slider_two {
        max-height: 450px;
    }

    .safari_only, #slider_two {
        width: 40%;
        margin-left: 3%;
    }
}}

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    iframe {
        width: 100%;
    }
    
    #form-input {
        margin-left: 2%;
        text-align: center;
    }

    #contact-map-inner {
        padding: 10px;
    }

    #message {
        width: 30%;
    }
}

/* For large to medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #menu {
        float: left;
        clear: both;
        text-decoration: none;
        letter-spacing: initial;
        line-height: initial;
    }
    #logo {
        font-size: 200%;
        line-height: initial;
        margin: auto;
    }

    #about-us {
        width: 100%;
        padding: unset;
    }
    #about-us-image {
        float: left;
        clear: both;
        height: auto;
        width: 100%;
        padding: 0px;
    }

    #about-us-text {
        padding-top: 20px;
        max-width: 100%;
        width: auto;
        font-size: initial;
    }

    #about-us-text > p {
        padding: 20px;
        max-width: 95%;
    }
    
    #testimonials {
        margin-top: 2px;
        min-height: fit-content;
        padding: unset;
    }

    #testimonials div {
        float: none;
        box-shadow: 12px 12px 16px 0 rgb(27 61 47 / 30%), -8px -8px 12px 0 rgb(245 245 245 / 50%);
        border-radius: 20px;
        width: 90%;
        min-height: 150px;
        text-align: center;
        margin: 35px auto;
        object-fit: contain;
    }

    #title-text {
        font-size: 350%;
        top: 40px;
    }
    
    #title-text >h3 {
        padding: 0;
    }

    #title-outer {
        height: 250px;
    }

    #menu > li {
        margin: 5px;
    }

    #gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 300px);
        overflow: hidden;
    }

    #gallery > img {
        object-fit: cover;
    }

    #height-p {
        display: block;
        width: 80%;
        bottom: 0px;
        padding: 20px 0px;
        margin: 10px auto 10px auto;
        position: unset;
    }

    #cots-p, #walker-p {
        display: block;
        width: 80%;
        bottom: 0px;
        padding: 20px 0px;
        margin: 80px auto 10px auto;
        position: unset;
    }

    #project-one-container, #project-two-container, #project-three-container {
        margin-bottom: 10px;
    }

    #height-img {
        width:auto;
        height: auto;
        max-height: 540px;
        object-fit: contain;
        display: block;
        position: unset;
        float: unset;
        margin: auto;
        margin-top: 10px;
    }

    #projects h3 {
        padding: 20px;
    }

    .slider, #slider_two {
        margin: auto;
        margin-top: 10px;
        display: block;
    }

    #slider_two {
        height: auto;
        width: fit-content;
    }

    #elmimage, #oakimage {
        float: none;
        max-width: 100%;
        object-fit: contain;
        margin: auto;
        display: block;
    }

    #elm-two-image {
        float: none;
        max-width: 100%;
        object-fit: contain;
        margin: auto;
        display: block;
    }

    #elmtext, #elm-two-text, #oaktext {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    #elmlist, #elm-two-list {
        padding-left: 30px;
        padding-bottom: 20px;
        text-align: left;
    }

    #inspiration div {
        width: 95%;
    }

    #inspiration p {
        max-width: 90%;
        text-align: center;
        padding: 20px 0px 20px 0px;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 300px);
        overflow: hidden;
    }

    .social-networks i {
            margin: 5px;
    padding: 2%;
    padding-top: 30px;
    }

    #cots-p, #walker-p {
        margin-top: 70px;
    }

    .slider label {
        width: 40px;
        height: 40px;
    }

    #contact-us {
        min-height: 600px;
    }
    
    #contact-us li {
        padding: 0px;
    }
    #contact-text ul {
        padding: 0;
    }

    #contact-text {
        height: 150px;
        width: 100%;
        display: block;
        position: initial;
        float: initial;
    }

    #contact-map {
        width: 100%;
        height: auto;
        display: block;
        padding: unset;
    }

    iframe {
        height: 300px;
    }

    #form-input {
        text-align: center;
        padding: 2px;
        display: initial;
    }
    
    #form {
        object-fit: contain;
        height: 700px;
    }

    #message {
        height: 150px;
        width: 90%;
        display: block;
        overflow: auto;
        position: unset;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }

    #design-query-form > h2 {
        padding-bottom: 0;
    }

    #submit {
        display: block;
        position: unset;
        margin: auto;
        margin-top: 25px;
    }

    #form-destination-text {
        font-size: x-large;
        padding: 10% 5%;
    }
}

/* For smaller screens sizes from 500px wide and down */
@media screen and (max-width: 500px){
    .slider, #slider_two {
        width: 80%;
        max-width: 100%;
        margin-bottom: 50px;
        padding-top: 325px;
    }

    #projects p {
        font-size: initial;
    }

/* enables the overflow from the gallery on smaller mobile devices to be scrolled through vertically.*/
    #gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 300px);
        overflow: auto;
    }
}